@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200&display=swap');
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
main {
    max-width: 1440px;
    margin: 0% auto
}
header {
    background: linear-gradient(45deg, #864cb5 33%, #0D61BC 66%, #8AA9D6);
    background-size: 400%;
    width: 100%;
    height: 10vh;
    color: white;
    text-align: center;
    animation: color-change 10s ease-in-out infinite;
}
.menu-contain {
    height: inherit;
    display: flex;
    justify-content: center;
}
.menu {
    max-width: 1440px;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo {
    display: inline-block;
    padding-left: 1vw;
    padding-top: 1vh;
}
.menu-main {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-align: center;
}
.menu-main li {
    display: inline-block;
}
.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    color: white;
}
/* .menu-main a, .menu-main a:visited {color: #9d999d;} */
.menu-main a:hover{
    color: #feb386;
}
.menu-main a:before, .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .5s;
}
.menu-main a:hover:before {left: 0;}
.menu-main a:hover:after {right: 0;}   
  
.submitBlock {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    background:rgba(0, 0, 0, 0.55) url('https://img4.teletype.in/files/33/7f/337f5bc2-e0a1-4226-8200-4d76e3fb73cc.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    color: #3983f9;
    background-size: 120%;
    animation: color-change 40s ease-in-out infinite;
}
.submitButton {
    position: relative;
    top: 20%;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 50px;
    background: linear-gradient(45deg,  #864cb5 33%, #0D61BC 66%, #8AA9D6);
    background-size: 400%;
    font-size: 20px;
    color: white;
    width: 200px;
    height: 50px;
    outline: 3px solid transparent;
    animation: color-change 10s ease-in-out infinite;
    transition: .5s;
    cursor: pointer;
}
.submitButton:after {
    content: ">"; 
    font-size: 17px;
}
.submitButton::before {
    content: "<";
    font-size: 17px;
}
.submitButton:hover {
    background: transparent;
    border-color: #4676d7;
    outline: 3px solid #ffffff;
    outline-offset: 5px;
    -webkit-transform: scale(1.1);
    -ms-ransform: scale(1.1);
    transform: scale(1.1);
}
@keyframes color-change {
    0% {
        background-position: 0px 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0px 50%;
    }
}
@keyframes background-change {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 80% 50%;
    }
    100% {
        background-position: 20% 50%;
    }
}
@keyframes background-change2 {
    0% {
        background-position: 30% 50%;
    }
    50% {
        background-position: 70% 50%;
    }
    100% {
        background-position: 30% 50%;
    }
}
.infoBlock {
    margin: 0%;
    background-color:lightcoral;
    background-color:rgb(105, 91, 193);
    background-color:#9363ba;
    width: 100%;
    /* min-height: 50vh; */
}
.infoText {
    padding: 2% 8% 2% 8%;
}
.infoBox {
    padding: 0% 0% 2% 0%;
}
.practiceBlock {
    margin: 0%;
    background-color:coral;
    background-color:#3175be;
    width: 100%;
    /* min-height: 50vh; */
    text-align: right;
}
.practiceText {
    padding: 2% 8% 2% 8%;
}
.practiceBox {
    padding: 2% 0% 2% 0%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    display: flex;    
}
.cardPractice {
    width: 150px;
    height: 100px;
    text-align: center;
    float: right;
    position: relative;
}
.jobsBlock {
    background-color: aquamarine;
    background-color: #8AA9D6;
    width: 100%;
    /* min-height: 50vh; */
}
.jobsText {
    padding: 2% 8% 2% 8%;
}
div section ul {
    padding: 2% 0% 2% 0%;
    columns: 2;
    list-style: none;
    text-align: center;
}
div section li {
    display: block
}
div section li::after, div section li::before {
    content: "</>";
    font-size: 13px;
}
.reviewsBlock {
    margin: 0%;
    background-color:thistle;
    width: 100%;
    /* min-height: 50vh; */
    text-align: right;
}
.reviewsText {
    padding: 2% 8% 2% 8%;
}
.cardRev-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardRev {
    margin: 2% 0% 2% 0%;
    width: 350px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
    text-align: center;
    /* border-radius: 20px; */
}
.cardRev-img {
    width: 250px;
    height: 200px;
    
    object-fit: cover;
}
.cardRev-body {
    text-align: center;
}
.map {
    margin: 0%;
    background-color:rgb(140, 194, 180);
    width: 100%;
    text-align: left;
}
.mapText {
    padding: 2% 8% 2% 8%;
}
.map-api {
    padding: 2% 0% 2% 0%;
    text-align: center; 
}
.map-api iframe {
    border-radius: 15px;
    width: 800px;
}
footer {
    margin: 0%;
    padding: 2% 0% 2% 0%;
    background-color:darkgray;
    text-align: center;
}
.phone {
    margin-right: 2%;
    display: inline-block;
}
.mail {
    display: inline-block;
}
@media screen and (max-width: 992px) {
    .submitBlock {
        font-size: 1.3em;
        background-size: cover;
        animation: background-change 70s ease-in-out infinite;
    }
    .map-api iframe {
        height: 350px;
        width: 600px;
    }
}
@media screen and (max-width: 839px) {
    .cardRev {
        width: 300px;
    }
}
@media screen and (max-width: 767px) {
    .menu-main a {
        margin: 0px 14px 0px 10px;
        font-size: 14px;
    }
    .submitBlock {
        font-size: 1em;
        animation: background-change2 70s ease-in-out infinite;
    }
    div section ul {
        columns: 1;
    }
    /* .menu-main a {
        margin: 0%  15% 0%  15%;
        font-size: 13px;
    } */
    .cardRev-container {
        flex-wrap: wrap;
    }
    .cardRev {
        max-width: 250px;
    }
    .map-api iframe {
        height: 250px;
        width: 350px;
    }
}
@media screen and (max-width: 424px) {
    .menu-main a {
        margin: 0px 10px 0px 6px;
        font-size: 12px;
    }
    .map-api iframe {
        height: 250px;
        width: 250px;
    }
}
@media screen and (orientation:landscape)  and (max-width: 668px) {
    .navbar-logo {
        width: 50px;
        height: 60px;
    }
}